{%- extends 'Mandala.j2' %}

{% set ns = namespace(path_uid={}) %}
{% set all_units = namespace(value=[]) %}

{%- macro mandala_meta_expand(d, indent=0, path=[], level=0, uid=0, parent=0) -%}
{% set ind = ' '*indent*indent_size %}
{% set ind1 = ' '*(indent+1)*indent_size %}
{% set path = path+[d.name] %}
{% set meta = path|join('::') %}

{%- if d.units is string -%}
{% set units = d.units %}
{% else %}
{% set units = d.units|default([])|join(',') %}
{%- endif -%}

{%- if d.suffix is defined -%}
{% set title = parent.title+' '+d.suffix %}
{% else %}
{% set title = d.title %}
{%- endif -%}

{%- if d.units and d.type != 'option' -%}
{% set units_id = 'units_' + d.units|replace('/','p')|replace('%','percent')|replace('^2','_sq') %}
{% else %}
{% set units_id = 'units_none' %}
{%- endif -%}

{%- if level<(data.uid_bits|length-1) -%}
{% set group = 1 %}
{% set uid_val = uid %}
{% else %}
{% set group = 0 %}
{% set uid_val = uid+1 %}
{%- endif -%}

{{ ind }}{
{{ ind1 }}.name = "{{ d.name }}",
{{ ind1 }}.title = "{{ title }}",
{{ ind1 }}.descr = "{{ d.descr }}",
{{ ind1 }}.units = "{{ units }}",
{{ ind1 }}.path = "{{ path|join('.') }}",
{{ ind1 }}.uid = 0x{{ '%0x' % (uid_val) }},
{{ ind1 }}.mask = 0x{{ '%0x' % (2**(data.uid_bits|sum)-1-(2**(data.uid_bits[level+1:]|sum)-1)+data.uid_base) }},
{{ ind1 }}.level = {{ level }},
{{ ind1 }}.group = {{ group }},
{{ ind1 }}.type_id = type_{% if d.content is defined %}void{% else %}{{ d.type }}{% endif %},
{{ ind1 }}.units_id = {{ units_id }},
{{ ind }}},
{% set _dummy = ns.path_uid.update({path|join('.'):uid}) %}
{% set uid_pow = data.uid_bits[level+2:]|sum %}
{% set uid_mul = 2**uid_pow %}
{% for i in d.content %}
{%- if i.reserved is undefined -%}
{{ mandala_meta_expand(i, indent, path, level+1, uid+loop.index0*uid_mul, d) }}
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}

{%- macro mandala_enum_expand(d, indent=0, path=[]) -%}
{% set ind = ' '*indent*indent_size %}
{% set ind1 = ' '*(indent+1)*indent_size %}
{% set path = path+[d.name] %}

{%- if d.content -%}
{% for i in d.content %}
{{ mandala_enum_expand(i, indent, path) }}
{%- endfor -%}
{%- else -%}
{% if d.type == 'option' %}
{{ ind }}// {{ path|join('.') }}
{% for i in d.units %}
{{ ind }}{{ path[-2:]|join('_') }}_{{ i }} = {{ loop.index0 }},
{% endfor %}

{% endif %}
{%- endif -%}
{%- endmacro -%}

{# collect units #}
{%- macro collect_units(d) -%}
{%- if d.content -%}
{% for i in d.content %}
{{ collect_units(i) }}
{%- endfor -%}
{%- elif d.units and d.type != 'option' -%}
{% set all_units.value = all_units.value + [d.units|replace('/','p')|replace('%','percent')|replace('^2','_sq')] -%}
{%- endif -%}
{%- endmacro -%}


{%- block content -%}
// generated file

#pragma once

#include <Mandala/MandalaMetaBase.h>

namespace mandala {
{% set ind = ' '*indent_size %}

// uid bits by level (level 0=root)
static constexpr const size_t uid_levels = {{ data.uid_bits|length }};

static constexpr const uint8_t uid_bits[] = {
{{ ind }}{% for i in data.uid_bits %}{{ i }},{% endfor %} // total {{ data.uid_bits|sum }} bits, {{ data.uid_bits|length }} levels
};

/*static constexpr const mandala::uid_t uid_level_mask[] = {
{{ ind }}{% for i in data.uid_bits %}{% set mask = (2**(data.uid_bits[loop.index0+1:]|sum)*(2**(data.uid_bits[loop.index0])-1)) %}0x{{ '%0x' % mask }},{% endfor %}

};*/

static constexpr const uint8_t uid_shift[] = {
{{ ind }}{% for i in data.uid_bits %}{{ data.uid_bits[loop.index0+1:]|sum }},{% endfor %}

};

// valid UID range is [uid_base...uid_max]
static constexpr const mandala::uid_t uid_base = 0x{{ '%0x' % data.uid_base }};
static constexpr const mandala::uid_t uid_max = 0x{{ '%0x' % (data.uid_base+(2**(data.uid_bits|sum)-1)) }}; 

{% for i in data.content %}
{{ collect_units(i) }}
{% endfor %}
{% set all_units.value = all_units.value|list|unique|sort -%}

// enum of all used units
enum units_e {
{{ ind }}units_none,
{% for i in all_units.value %}
{{ ind }}units_{{ i }},
{% endfor %}
};

// flat array of all elements
static constexpr const mandala::meta_s meta[] = {
{% for i in data.content %}
{% set uid_pow = data.uid_bits[1:]|sum %}
{% set uid_mul = 2**uid_pow %}
{{ mandala_meta_expand(i, 1, [], 0, data.uid_base+loop.index0*uid_mul) }}
{% endfor %}
}; // meta array

// constants
typedef enum {
{% for i in data.content %}
{{ mandala_enum_expand(i, 1, []) }}
{% endfor %}
} constants_t;

{#

// Default streams
{% for s in data.streams %}
// stream: {{ s.name }}: {{ s.title }}
static constexpr const mandala::stream_item_t stream_{{ s.name }}[] = {
{% for i in s.content %}
{% set path = i.keys()[0] %}
{% set fmt = i.values()[0] %}
{% set uid = ns.path_uid[path] %}
{ .uid = 0x{{ '%0x' % uid }}, .sfmt = sfmt_{{ fmt }} },  // {{ path }}
{% endfor %}
{ .uid = 0, .sfmt = sfmt_void }
};
{% endfor %}

static constexpr const mandala::stream_id_t streams[] = {
{% for s in data.streams %}
{ .name = "{{ s.name }}", .title = "{{ s.title }}", .content = stream_{{ s.name }} },
{% endfor %}
};
#}
}; // namespace mandala

{% endblock %}
